{% extends "template.njk" %}

{% block navbar %}
{{ super() }}
{{ nav.active('index') }}
{% endblock %}

{% block content %}
<header>
  <div class="intro">
    <div class="container-fluid">
      <h1>Chris Sheahan</h1>
      <hr class="smallOrangeHr" />
      <h3>Software Engineer</h3>
    </div>
  </div>
</header>
<div class="container-fluid introBody">
  <div class="row justify-content-center">
    <div class="col-lg-8 text-center">
      <h3>About Me</h3>
      <hr>
      <p>
        I'm currently a software engineer employed by Microsoft working on Xbox Live Social Engagement. My current job is in building efficient, scalable web services in C#. I also have exposure to web programming in other languages, security, and basic web design. To learn more about my current and past work, <a href="#">click here</a> for more information.
      </p>
      <p>
        Outside of work I sometimes make things. Generally those are stored in <a href="https://github.com/csheahan">my Github</a>, but you can find a summary and links to specific projects <a href="#">here</a>.
      </p>
      <p>
        I graduated with a BS in Computer Science at the University of Texas at Austin in 2016. <a href="#">Click here</a> to find a summary of my coursework and other college activities.
      </p>
      <p>
        Some of my other interests include health and fitness, cooking, mechanical puzzles, and general gaming.
      </p>
    </div>
  </div>
</div>
{% endblock %}