{% extends "template.njk" %}

{% block navbar %}
{{ super() }}
{{ nav.active('index') }}
{% endblock %}

{% block content %}
<header>
  <div class="intro">
    <div class="container-fluid">
      <h1>Chris Sheahan</h1>
      <hr class="smallOrangeHr" />
      <h3>Software Engineer</h3>
    </div>
  </div>
</header>
<div class="container-fluid">
  <div class="text-center">
    <h3>About Me</h3>
    <hr>
  </div>
</div>
{% endblock %}