{% extends "template.njk" %}

{% block navbar %}
{{ super() }}
{{ nav.active('index') }}
{% endblock %}

{% block content %}
<script>
let numberToTest = 0;

const baseNumberMap = {
  1: { pinyin: "yī",  character: "一" },
  2: { pinyin: "èr",  character: "二" },
  3: { pinyin: "sān", character: "三" },
  4: { pinyin: "sì",  character: "四" },
  5: { pinyin: "wǔ",  character: "五" },
  6: { pinyin: "liù", character: "六" },
  7: { pinyin: "qī",  character: "七" },
  8: { pinyin: "bā",  character: "八" },
  9: { pinyin: "jiǔ", character: "九" },
};

const places = [
  { divisor: 1000, pinyin: "qiān", character: "千" },
  { divisor: 100,  pinyin: "bǎi",  character: "百" },
  { divisor: 10,   pinyin: "shí",  character: "十" },
  { divisor: 1,    pinyin: "",     character: "" },
];

function createNumber() {
  let low = $("#low").val();
  let high = $("#high").val();

  if ($.isNumeric(low) && $.isNumeric(high)) {
    low = Math.ceil(low);
    high = Math.floor(high);
    numberToTest = Math.floor(Math.random() * (high - low + 1)) + low;

    $("#number-placeholder").text(`${numberToTest}`);
    $("#pinyin-placeholder").text(``);
    $("#character-placeholder").text(``);
  } else {
    console.log("Choose valid numbers");
  }
}

function showSolution() {
  let pinyin = "";
  let characters = "";
  let number = numberToTest;

  for (const place of places) {
    const quotient = Math.floor(number / place.divisor);

    if (quotient > 0) {
      pinyin += `${quotient === 1 && place.divisor !== 1 ? "" : baseNumberMap[quotient].pinyin} ${place.pinyin} `;
      characters += `${quotient === 1 && place.divisor !== 1 ? "" : baseNumberMap[quotient].character}${place.character}`;
    }

    number -= quotient * place.divisor;
  }

  $("#pinyin-placeholder").text(`${pinyin}`);
  $("#character-placeholder").text(`${characters}`);
}
</script>

<div class="topPadding">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="col-md-4">
          <div class="form-group">
            <label>Number low (0-9999)</label>
            <input type="number" class="form-control" id="low" onkeydown="return event.keyCode !== 69" value="0" />
          </div>
          <div class="form-group">
            <label>Number high (0-9999)</label>
            <input type="number" class="form-control" id="high" onkeydown="return event.keyCode !== 69" value="9999" />
          </div>
        </div>

        <div class="col-md-4">
          <hr />
        </div>

        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title normalText inline">Number: <h5 class="card-title normalText inline" id="number-placeholder"/></h5>
              <br/>
              <p class="card-text inline">Pinyin: <p class="card-text inline" id="pinyin-placeholder" /></p>
              <br/>
              <p class="card-text inline">Characters: <p class="card-text inline" id="character-placeholder" /></p>
              <br/>
              <br/>
              <button class="btn btn-secondary" onclick="createNumber()">Create Number</button>
              <button class="btn btn-secondary" onclick="showSolution()">Show Solution</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}