{% macro active(activePage) %}

<div class="navbar fixed-top navbar-expand-md navbar-dark darkBackground">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarCollapse" class="navbar-collapse collapse">
    <a href="index.html" class="navbar-brand">Chris Sheahan</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link {{'active' if activePage === 'work'}}" href="work.html">Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{'active' if activePage === 'projects'}}" href="projects.html">Side Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{'active' if activePage === 'school'}}" href="#">School</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{'active' if activePage === 'timeline'}}" href="#">Timeline</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{'active' if activePage === 'contact'}}" href="#">Contact Me</a>
      </li>
    </ul>
  </div>
</div>

{% endmacro %}