header {
  background-size: cover;
  background-position: center;
  color: #fff;
  text-shadow: 1px 1px 2px black;
  text-align: center;
  width: 100%;
  height: 100vh;
  display: table;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}

.normalText {
  color: #212529;
}

.inline {
  display: inline;
}

.darkBackground {
  background-color: #060606;
  color: #888888;
}

.darkBackground hr {
  color: #888888;
  background-color: #888888;
}

.topPadding {
  padding-top: 100px;
  padding-bottom: 2em;
}

.intro {
  vertical-align: middle;
  display: table-cell;
}

.introBody {
  padding-top: 1em;
}

.smallOrangeHr  {
  max-width: 50px;
  border-color: #FFA500;
  border-width: 3px;
}

.closePTags {
  margin-bottom: 0;
}

.logo {
  max-width: 96px;
  max-height: 96px;
  min-width: 96px;
  min-height: 96px;
}

.nav-tabs>li>a.active,
.nav-tabs>li>a.active:hover,
.nav-tabs>li>a.active:focus,
.nav-tabs>li>a.nav-link.active {
  background-color: #888888;
  color: #ffffff;
}

.nav-tabs .nav-link {
  color: #ffffff;
}

.projectPic {
  max-height: 600px;
  max-width: 600px;
  padding-bottom: 1em;
}

.carousel {
  max-height: 29em;
  height: 29em;
  overflow: hidden;
}

.carousel-inner img {
  margin: auto;
  padding-bottom: 4em;
  max-height: 25em;
  width: auto;
}

.mb1 {
  margin-bottom: 1em;
}